h2 {
    color: rgba(16, 19, 15, 0.534);
    margin-bottom: 30px;
}
.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
    opacity: 1;
    -webkit-text-fill-color: rgb(0 0 0 / 73%);
} 

input, label[id^=mui]{
    opacity: 1;
    -webkit-text-fill-color: rgb(0 0 0 / 73%);
    font-size: 0.5em;
    margin-left: 2px;
}

button.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeLarge.MuiButton-containedSizeLarge.MuiButtonBase-root{
    background-color: rgb(31 147 159 / 82%);
}

p[id^=mui], p.MuiTablePagination-displayedRows.css-levciy-MuiTablePagination-displayedRows{
    font-size: 12px;
}

.MuiTablePagination-actions{
    margin-bottom: 12px;
}

#endTime{
    
}

.MuiInputBase-root.MuiInputBase-colorPrimary.css-16c50h-MuiInputBase-root-MuiTablePagination-select{
    margin-bottom: 10px;
    
}

#createButtonRow{
    display: flex;
    justify-content: flex-end;
    margin-right: 160px;
}

Button#newAppoint{
    font-size: 14px;
}